body {
  background-color: #111;
  color: #eee;
}

#video-player {
  display: grid;
  grid-template-columns: fit-content(100%);
}

#video {
  grid-area: 1 / 1;
  display: block;
  max-width: 100%;
}

#caption {
  grid-area: 1 / 1;
  pointer-events: none;
}

#caption-inner {
  text-align: center;
  background-color: black;
  color: white;
  position: relative;
  top: 80%;
  font-size: 250%;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cue-active {
  color: white;
}

.cue {
  color: gray;
  cursor: default;
  user-select: none;
}

.playhead {
  color: orangered;
}

.inactive-handle {
  color: #333;
}

.cue-boundary {
  color: lightblue;
  cursor: grab;

}