body {
  background-color: #111;
  color: #eee;
  font-family: sans-serif;
}

#video {
  display: block;
  max-width: 100%;
  max-height: 60vh;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cue-active {
  color: white;
}

.cue {
  color: gray;
  cursor: default;
  user-select: none;
}

.playhead {
  color: orangered;
}

.inactive-handle {
  color: #333;
}

.cue-boundary {
  color: lightblue;
  cursor: grab;

}

#cue-textarea {
  width: 90%;
  resize: none;
}

#waveform {
  width: 90%;
}

#editor {
  max-height: 90vh;
  overflow-y: scroll;
}